<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/echart/echarts.min.js"></script>
    <title>{{ type }} </title>
</head>
<body>
<div id="main" style="width: 95%;height:90%;position: absolute;text-align: center"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    const myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    const option = {
            title: {},
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                {#data:['江苏-确诊','江苏-治愈','江苏-死亡']#}
                data: [{% for res_item in res %}'{{  res_item.pro_name  }}-确诊',{% endfor %}
                {% for res_item in res %}'{{  res_item.pro_name  }}-治愈',{% endfor %}
                {% for res_item in res %}'{{  res_item.pro_name  }}-死亡',{% endfor %}]
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [ {% for item in s_dates %}
                    '{{ item }}',{% endfor %}
                ]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                    {% for res_item in res %}{
                        name: '{{ res_item.pro_name }}-确诊',
                        type: 'line',
                        data: [{% for item in res_item.confirmedNum %}
                            '{{ item }}',{% endfor %}] },
                    {% endfor %}
                    {% for res_item in res %}{
                        name: '{{ res_item.pro_name }}-治愈',
                        type: 'line',
                        data: [{% for item in res_item.curesNum %}
                            '{{ item }}',{% endfor %}] },
                    {% endfor %}
                    {% for res_item in res %}{
                        name: '{{ res_item.pro_name }}-死亡',
                        type: 'line',
                        data: [{% for item in res_item.deathsNum %}
                            '{{ item }}',{% endfor %}] },
                    {% endfor %}
            ]
        }
    ;
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

</body>
</html>