<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
 <!--   <script type="text/javascript" src="/static/js/garden.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的秒表</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/t_tools.js"></script>
    <script type="text/javascript" src="/static/js/xnjy.js"></script>
    <script type="text/javascript" src="/static/js/snow.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
    <script src="/static/layui/layui.js"></script>

</head>
<!--<body style="background:#ffc703">-->
<body>
<style type="text/css">
    .lx_time {
        font-size: 2.25em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }

    .lx_unit {
        color: #fff;
        font-size: 12pt;
        text-align: center;
    }

    .lx_line {
        width: 22%;
        height: 90%;
        padding: 0;
    {#        margin: 10px 2% 0 2%;#} margin-top: 10px;
        float: left;
    }

    .lx_dot {
        width: 2%;
        height: 20%;
        float: left;
        color: #fff;
        font-size: 16pt;
        padding: 0;
        margin: 8% 2px 0 2px;
        font-weight: bold;
        text-align: center;
    }
</style>
<div>
    <div style="position:absolute;width:1px;height:1px;text-align: center;z-index: 1">
        <img src="/static/img/xnjy/icon.jpg" width="0" height="0">
    </div>
    <div id="div_back" style="position:absolute;width: 100%;height: 100%;text-align: center;z-index: 2">
        <img id="img_back" src="/static/img/xnjy/{{ ui_type }}/show.jpg">
    </div>
    <div id="div_cont"
         style="position:absolute;width: 100%;height: 100%;margin:0 5px 0 5px;text-align: center;z-index: 3">
        <fieldset class="layui-elem-field"
                  style="width: 85%;height: 12%;margin: 65% 0 0 5%;border-color: #fffa;
                  padding:10px;border-radius:8px;text-align: center;">
            <legend id="lx_title"
                    style="color: #333;margin:0 auto;font-size:10pt">
                我在{{ xnjy.school }}已经度过
            </legend>
            <div id="lx_time_cont" class="layui-field-box"
                 style="display:inline;text-align: center;margin:0 auto;padding:0px;background: #f00">
                <div style="width: 100%;display:inline;text-align: center">
                    <div style="margin:0 auto;font-size: 32pt;color: #fff" id="second">00
                        {#                        <div style="margin:0 auto;font-size: 10pt;color: #333">秒</div>#}
                    </div>

                </div>
                {#                <div style="width: 100%;margin: 0 auto;text-align: center">#}
                {#                <div class="lx_line">#}
                {#                    <div class="lx_time" id="year">00</div>#}
                {#                    <div class="lx_unit">年</div>#}
                {#                </div>#}
                {#                <div class="lx_dot">:</div>#}
                {#                <div class="lx_line">#}
                {#                    <div class="lx_time" id="month">00</div>#}
                {#                    <div class="lx_unit">月</div>#}
                {#                </div>#}
                {#                <div class="lx_dot">:</div>#}
                {#                    <div class="lx_line">#}
                {#                        <div class="lx_time" id="day">00</div>#}
                {#                        <div class="lx_unit">日</div>#}
                {#                    </div>#}
                {#                    <div class="lx_dot">:</div>#}
                {#                    <div class="lx_line">#}
                {#                        <div class="lx_time" id="hour">00</div>#}
                {#                        <div class="lx_unit">时</div>#}
                {#                    </div>#}
                {#                    <div class="lx_dot">:</div>#}
                {#                    <div class="lx_line">#}
                {#                        <div class="lx_time" id="min">00</div>#}
                {#                        <div class="lx_unit">分</div>#}
                {#                    </div>#}
                {#                    <div class="lx_dot">:</div>#}
                {#                    <div class="lx_line">#}
                {#                        <div class="lx_time" id="second">00</div>#}
                {#                        <div class="lx_unit">秒</div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </fieldset>
        <div style="height: 20%">
            <div id="lx_jy" style="color: #333;font-family:'宋体';margin: 10px 0 0 5%;font-weight: bold;text-align:left">
                {{ xnjy.jy }}
            </div>
            <div id="lx_nick_name"
                 style="text-align:right;color: #333;font-family:'宋体';margin-top: 10px;right:10px;
                 width: 100%;font-weight: bold">
                --
            </div>
        </div>
        <button id="bt_goto_input"
                style="position:fixed; top:88%;width: 40%;height:5%;background-size:100% 100%;background-repeat: repeat-y;
                        font-size: 14pt;color: #fff;z-index:5;
                        border-style:none;background-color: transparent ; background-image: url('/static/img/xnjy/{{ ui_type }}/bt_sure.png')"
                onclick="goto_page()">
            我的秒表
        </button>
    </div>
	<!--
    <div class="snowBigBg" id="snowBigBg" style="z-index: 3" >
            <div class="snowbg" id="snowbg"  style="height: 70%;width: 70%"></div>
-->
    </div>
</div>
<script>
    xnjy_init();
	jssdk_share();
    
	//设置底部按钮宽度
    var back = document.getElementById('div_back');
    var back_height = $(back).height();
    var back_width = $(back).width();
    var bt_height = back_height * 0.06;
    document.getElementById('bt_goto_input').style.height = bt_height + "px";
    document.getElementById('bt_goto_input').style.width = bt_height * 3 + "px";
    document.getElementById('bt_goto_input').style.left = (back_width * 0.5 - bt_height * 1.5) + "px";

    {#    初始化时间内容背景#}
    var lx_time_cont = document.getElementById('lx_time_cont');
    {#    var back = document.getElementById('div_back');#}
    {#    var back_height = $(back).height();#}
    lx_time_cont.style.width = back_height * 0.4 + "px";
    {#    var lx_title = document.getElementById('lx_title');#}
    {#    var back = document.getElementById('div_back');#}
    {#    var back_height = $(back).height();#}
    {#    lx_title.style.width = back_height * 0.4 + "px";#}

    var parm = get_query_string("parm", "");
    var data = JSON.parse(parm);
    document.getElementById('lx_nick_name').innerHTML = "---" + data.nick_name + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";

    var send_data = Object();
    send_data.ui_type = data.ui_type;

    function goto_page() {
        window.location.href = 'xnjy_index?parm=' + JSON.stringify(send_data);
        {#        window.location.href = 'xnjy_input?parm=' + JSON.stringify(send_data);#}
    }

    var date1 = new Date();

    var show_seconds = 0;

    function show_time(data) {
        var date2 = new Date();    //结束时间
        var date3 = date2.getTime() - date1.getTime();   //时间差的毫秒数
        var school = data.school;
        if (date3 > 0) {
            document.getElementById('lx_title').innerHTML = "我在" + school + "已经度过";
        } else {
            date3 = 0 - date3;
            document.getElementById('lx_title').innerHTML = "我距离去" + school + "还有";
        }
        {#            //计算出相差年数#}
        {#            var years = parseInt(date3 / (24 * 3600 * 1000 * 30 * 365)); //Math.abs((date1.getFullYear() - date2.getFullYear()));#}
        {#            //计算出相差月数#}
        {#            var months = parseInt(date3 /  (24 * 3600 * 1000 * 30 * 365)); //Math.abs((date1.getMonth() - date2.getMonth()));#}
        {#        //计算出相差天数#}
        {#        var days = parseInt(date3 / (1000 * 60 * 60 * 24)); //Math.abs((date1.getDate() - date2.getDate()));#}
        {#        //计算出小时数#}
        {#        var leave1 = date3 % (24 * 3600 * 1000);   //计算天数后剩余的毫秒数#}
        {#        var hours = Math.floor(leave1 / (3600 * 1000));#}
        {#        //计算相差分钟数#}
        {#        var leave2 = leave1 % (3600 * 1000);    //计算小时数后剩余的毫秒数#}
        {#        var minutes = Math.floor(leave2 / (60 * 1000));#}
        {#        //计算相差秒数#}
        {#        var leave3 = leave2 % (60 * 1000) - 1; //计算分钟数后剩余的毫秒数#}
        {#        var seconds = Math.round(leave3 / 1000);#}
        {#            document.getElementById('year').innerHTML = years + "";#}
        {#            document.getElementById('month').innerHTML = months + "";#}
        {#        document.getElementById('day').innerHTML = days + "";#}
        {#        document.getElementById('hour').innerHTML = hours + "";#}
        {#        document.getElementById('min').innerHTML = minutes + "";#}
        {#        document.getElementById('second').innerHTML = seconds + "";#}
        var seconds = (date3 / 1000.0).toFixed(1);//Math.round(date3 / 1000);
        document.getElementById('second').innerHTML = seconds + '<span style="font-size:15pt;color:#333">&nbsp;秒</span>';
        show_seconds = seconds;
		share_title = data.nick_name + document.getElementById('lx_title').innerHTML.substring(1) + show_seconds + "秒";
        //$("title").html(data.nick_name + document.getElementById('lx_title').innerHTML.substring(1) + show_seconds + "秒");
    }

    /**
     * 开始计时
     */
    function start_count_time(data) {
//计算日期差
        var lx_time = data.lx_time;
        date1 = lx_time.substring(0, 4) + '/' + lx_time.substring(4, 6) + '/' + lx_time.substring(6, 8) + ' 00:00:00';  //开始时间
        date1 = new Date(date1);

        //------------------------------
        show_time(data);
        var funId = setInterval(function () {
            show_time(data);
        }, 100);


    }

    function init_data() {
        var nick_name = data.nick_name;
        if ("undefined" === nick_name) {
            nick_name = "";
        }
        nick_name = nick_name.toString();
        if (nick_name.length <= 0) {
            return;
        }
        var wx_name = data.wx_name + "";
        if ("undefined" === wx_name) {
            wx_name = "";
        }
        wx_name = wx_name.toString();
        if (wx_name.length <= 0) {
            start_count_time(data);
            document.getElementById('lx_jy').innerHTML = data.jy;
        } else {
            $.ajax({
                url: "../lxdzx/xnjy_get_xnjy?parm={\"nick_name\":\"" + nick_name + "\"}",
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    if (data.success) {
                        var res = data.data.res;
                        console.log(res);
                        start_count_time(res);
                    }
                }
            });
        }
    }

    init_data();

 //   $("title").html(data.nick_name + "的秒表");

 //   startSnow();



</script>
</body>
</html>

